:root{
  --main-color: black;
  --color: rgb(255, 255, 0);
}
.h4{
  font-size:1em;
  font-weight: bold;
  margin: 0;
}
:pierwszaSzkoła{
  margin-top:2em;
}
.h3{
  color:black;
  
}
.porownaj{
  font-size: 2.6em;
  color: rgb(6, 206, 116);
  margin-bottom: 1em;
  text-align: left;
  margin-right:23em;
}
