@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    margin: 0;
}

header {
    background-color: #1a618a;
    margin: 0; /* Usuń marginesy */
    padding: 0; /* Usuń padding */
}

.container {
    display: flex;
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
    height: 3em; /* Wysokość navbaru */
}

.link {
    
    color: white;
    margin: 0 2em; /* Margin po bokach dla przestrzeni między linkami */
    text-decoration: none; /* Brak podkreślenia */
}


.link h1 {
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica";
    font-weight: 300;
    font-size: 1.1rem;
    text-align: center;
}

.eduseekr h1 {
    font-family: "Impact", "Anton";
    font-size: 2rem;
    margin-inline: 2rem;

}
