@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root{
  --main-color: black;
  --color: rgb(255, 255, 0);
  --secondary-bg-color: rgba(241, 231, 206, 0.682);
  --secondary-color:#1a618a;
}
body {
  margin: 0;
}

header {
    background-color: #1a618a;
    color: rgb(234, 224, 224);
  
    margin-left: 0;

    padding: 0; /* Usuń padding */
} 
header h1{
  align-content: left;
  margin-right: 8em;
}
.container {
    display: flex;
    justify-content: space-between; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
    height: 3em; /* Wysokość navbaru */
    margin-right: 10em;

}

.link {
    
    color: white;
    margin: 0 1em; /* Margin po bokach dla przestrzeni między linkami */
    text-decoration: none; /* Brak podkreślenia */
}


.link h1 {
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica";
    font-weight: 300;
    font-size: 1.1rem;
    text-align: center;
}

.eduseekr h1 {
    font-family: "Impact", "Anton";
    font-size: 2rem;
    margin-inline: 3rem;
}

.faMap{
  font-size: 1rem;
  display: flex;
  align-items: center;

}

/*animacja*/
.anim {
    display: inline-block;
    position: relative;
    margin: inherit;
    
    font-family: sans-serif;
    color: white;
    cursor: pointer;
  }
  
  .animBtn {
    width: 4em;
    margin-right: 0.7em;
  }
  
  .animText {
    display: inline-block;
    left:1em;
    top:  -2px;
    width: 0;
    height: 1em;
    background: #1a618a;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .animBtn:hover {
    color: white;
  }
  
  .anim:hover .animText {
    width: 6em;
    animation: type .3s steps(10,end),
               blink 1.1s linear 1s infinite;
    animation-fill-mode: forwards;
  }
  
  @keyframes type {
    from { width: 0; } 
  } 
  

