.filters {
    flex: 1;
    max-width: 33%;
    height: 55em;
    background: #1A618A;
    border-radius: 0.5em;
    margin-left: .5em;
    padding: .5em;
}

.results {
    flex: 2;
    margin-left: 2em;
    margin-right: 5em;
}

.search-h1 {
    color: white;
    text-align: center;
}

h3 {
    margin-left: 3em;
    color: white;
}