.filters {
    flex: 1;
    height: 90vh;
    background: #1A618A;
    border-radius: 0 .5em .5em 0;
}

.results {
    flex: 2;
    margin-left: 2em;
    height: 100vh;
    border: 1px solid black;
}

.searchBar {
    scale: 30%;
    margin-top: 4em;
}

h3 {
    margin-left: 3em;
    color: white;
}