.search {
    width: 25em;
    max-width: 80vw;
    height: 3em;
    background: #F0F0F0;
    border: 2px solid black;
    border-radius: .5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 3em; /* Increased font size */
}